USE [BLV]
GO
/****** Object:  Table [Costo].[Concepto_Header]    Script Date: 19/6/2023 2:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Costo].[Concepto_Header](
	[id_concepto_header] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[descripcion] [varchar](200) NULL,
	[id_pais_origen] [int] NULL,
	[id_tipo_valor] [int] NULL,
	[id_tipo_concepto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_concepto_header] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Costo].[Concepto_Header] ON 

INSERT [Costo].[Concepto_Header] ([id_concepto_header], [nombre], [descripcion], [id_pais_origen], [id_tipo_valor], [id_tipo_concepto]) VALUES (1, N'EXWORK', N'El costo se limita a la producción y entrega en el lugar de origen', 340, 1, 3)
INSERT [Costo].[Concepto_Header] ([id_concepto_header], [nombre], [descripcion], [id_pais_origen], [id_tipo_valor], [id_tipo_concepto]) VALUES (2, N'FOB', N'El costo incluye la entrega en el puerto de origen', 340, 1, 3)
INSERT [Costo].[Concepto_Header] ([id_concepto_header], [nombre], [descripcion], [id_pais_origen], [id_tipo_valor], [id_tipo_concepto]) VALUES (3, N'CFR', N'El costo incluye el transporte marítimo y seguro hasta el puerto de destino', 340, 1, 3)
SET IDENTITY_INSERT [Costo].[Concepto_Header] OFF
GO
