USE [BLV]
GO
/****** Object:  Table [Parametro].[Ruta]    Script Date: 15/6/2023 10:50:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parametro].[Ruta](
	[id_ruta] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[ruta] [varchar](150) NULL,
	[id_certificado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Parametro].[Ruta] ON 

INSERT [Parametro].[Ruta] ([id_ruta], [descripcion], [ruta], [id_certificado]) VALUES (1, N'RUTA SUBIDA MSDS', N'D:\CONSULTORA PAL\BLV\MSDS', 1)
INSERT [Parametro].[Ruta] ([id_ruta], [descripcion], [ruta], [id_certificado]) VALUES (2, N'RUTA REPOSITORIO MSDS', N'D:\CONSULTORA PAL\BLV\MSDS_REPO', 1)
INSERT [Parametro].[Ruta] ([id_ruta], [descripcion], [ruta], [id_certificado]) VALUES (3, N'RUTA BACKUP MSDS', N'D:\CONSULTORA PAL\BLV\MSDS_BACKUP', 1)
SET IDENTITY_INSERT [Parametro].[Ruta] OFF
GO
