USE [BLV]
GO
/****** Object:  Table [Produccion].[Producto_Header]    Script Date: 15/6/2023 10:50:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Produccion].[Producto_Header](
	[codigo_producto] [varchar](10) NOT NULL,
	[nombre_producto] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Produccion].[Producto_Header] ([codigo_producto], [nombre_producto]) VALUES (N'3085', N'SUCRALOSA')
INSERT [Produccion].[Producto_Header] ([codigo_producto], [nombre_producto]) VALUES (N'BOL025', N'BOLSA PAPEL BLANCA 25KG')
INSERT [Produccion].[Producto_Header] ([codigo_producto], [nombre_producto]) VALUES (N'CIT005', N'CITRATO DE SODIO')
GO
