USE [BLV]
GO
/****** Object:  Table [Relacion].[Cliente_ciudad]    Script Date: 6/7/2023 8:42:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Cliente_ciudad](
	[id_cliente_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[id_ciudad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[Cliente_ciudad] ON 

INSERT [Relacion].[Cliente_ciudad] ([id_cliente_ciudad], [id_cliente], [id_ciudad]) VALUES (1, 1, 2504)
INSERT [Relacion].[Cliente_ciudad] ([id_cliente_ciudad], [id_cliente], [id_ciudad]) VALUES (2, 2, 2504)
INSERT [Relacion].[Cliente_ciudad] ([id_cliente_ciudad], [id_cliente], [id_ciudad]) VALUES (3, 3, 2504)
SET IDENTITY_INSERT [Relacion].[Cliente_ciudad] OFF
GO
