USE [BLV]
GO
/****** Object:  Table [Relacion].[Pais_DP]    Script Date: 15/6/2023 10:50:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Pais_DP](
	[id_pais_dp] [int] IDENTITY(1,1) NOT NULL,
	[id_division_politica] [int] NULL,
	[id_pais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais_dp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[Pais_DP] ON 

INSERT [Relacion].[Pais_DP] ([id_pais_dp], [id_division_politica], [id_pais]) VALUES (1, 1, 108)
INSERT [Relacion].[Pais_DP] ([id_pais_dp], [id_division_politica], [id_pais]) VALUES (2, 2, 108)
INSERT [Relacion].[Pais_DP] ([id_pais_dp], [id_division_politica], [id_pais]) VALUES (3, 3, 108)
GO
SET IDENTITY_INSERT [Relacion].[Pais_DP] OFF
GO
