USE [BLV]
GO
/****** Object:  Table [Relacion].[Deposito_Stock]    Script Date: 5/7/2023 10:45:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Deposito_Stock](
	[id_deposito_Stock] [int] IDENTITY(1,1) NOT NULL,
	[id_deposito] [int] NULL,
	[id_stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_deposito_Stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[Deposito_Stock] ON 

INSERT [Relacion].[Deposito_Stock] ([id_deposito_Stock], [id_deposito], [id_stock]) VALUES (1, 1, 1)
INSERT [Relacion].[Deposito_Stock] ([id_deposito_Stock], [id_deposito], [id_stock]) VALUES (2, 1, 2)
INSERT [Relacion].[Deposito_Stock] ([id_deposito_Stock], [id_deposito], [id_stock]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [Relacion].[Deposito_Stock] OFF
GO
