USE [BLV]
GO
/****** Object:  Table [Relacion].[DP_Ciudad]    Script Date: 20/4/2023 12:37:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[DP_Ciudad](
	[id_dp_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[id_division_politica] [int] NULL,
	[id_ciudad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dp_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[DP_Ciudad] ON 

INSERT [Relacion].[DP_Ciudad] ([id_dp_ciudad], [id_division_politica], [id_ciudad]) VALUES (1, 74, 148)
INSERT [Relacion].[DP_Ciudad] ([id_dp_ciudad], [id_division_politica], [id_ciudad]) VALUES (2, 74, 149)
INSERT [Relacion].[DP_Ciudad] ([id_dp_ciudad], [id_division_politica], [id_ciudad]) VALUES (3, 74, 150)
GO
SET IDENTITY_INSERT [Relacion].[DP_Ciudad] OFF
GO
