USE [BLV]
GO
/****** Object:  Table [Relacion].[Moneda_Orden_Compra]    Script Date: 22/2/2023 10:12:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Moneda_Orden_Compra](
	[id_moneda_orden_compra] [int] IDENTITY(1,1) NOT NULL,
	[id_orden_compra] [int] NULL,
	[id_moneda] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_moneda_orden_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[Moneda_Orden_Compra] ON 

INSERT [Relacion].[Moneda_Orden_Compra] ([id_moneda_orden_compra], [id_orden_compra], [id_moneda]) VALUES (1, 1, 1)
INSERT [Relacion].[Moneda_Orden_Compra] ([id_moneda_orden_compra], [id_orden_compra], [id_moneda]) VALUES (2, 2, 1)
INSERT [Relacion].[Moneda_Orden_Compra] ([id_moneda_orden_compra], [id_orden_compra], [id_moneda]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [Relacion].[Moneda_Orden_Compra] OFF
GO
