USE [BLV]
GO
/****** Object:  Table [Relacion].[Producto_Marca]    Script Date: 10/4/2023 11:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Producto_Marca](
	[id_producto_marca] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NULL,
	[id_marca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
