USE [BLV]
GO
/****** Object:  Table [Relacion].[Pais_Continente]    Script Date: 22/3/2023 11:18:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Pais_Continente](
	[id_pais_continente] [int] IDENTITY(1,1) NOT NULL,
	[id_pais] [int] NULL,
	[id_continente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais_continente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[Pais_Continente] ON 

INSERT [Relacion].[Pais_Continente] ([id_pais_continente], [id_pais], [id_continente]) VALUES (1, 102, 1)
INSERT [Relacion].[Pais_Continente] ([id_pais_continente], [id_pais], [id_continente]) VALUES (2, 103, 1)
INSERT [Relacion].[Pais_Continente] ([id_pais_continente], [id_pais], [id_continente]) VALUES (3, 104, 1)
GO
SET IDENTITY_INSERT [Relacion].[Pais_Continente] OFF
GO
