USE [BLV]
GO
/****** Object:  Table [Relacion].[Medio_Pago_Orden_Compra]    Script Date: 11/6/2023 10:15:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Medio_Pago_Orden_Compra](
	[id_medio_pago_orden_compra] [int] IDENTITY(1,1) NOT NULL,
	[id_medio_pago] [int] NULL,
	[id_orden_compra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medio_pago_orden_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[Medio_Pago_Orden_Compra] ON 

INSERT [Relacion].[Medio_Pago_Orden_Compra] ([id_medio_pago_orden_compra], [id_medio_pago], [id_orden_compra]) VALUES (1, 1, 1)
INSERT [Relacion].[Medio_Pago_Orden_Compra] ([id_medio_pago_orden_compra], [id_medio_pago], [id_orden_compra]) VALUES (2, 1, 2)
INSERT [Relacion].[Medio_Pago_Orden_Compra] ([id_medio_pago_orden_compra], [id_medio_pago], [id_orden_compra]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [Relacion].[Medio_Pago_Orden_Compra] OFF
GO
