USE [BLV]
GO
/****** Object:  Table [Relacion].[Pais_Ciudad]    Script Date: 10/4/2023 11:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Relacion].[Pais_Ciudad](
	[id_pais_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[id_pais] [int] NULL,
	[id_ciudad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Relacion].[Pais_Ciudad] ON 

INSERT [Relacion].[Pais_Ciudad] ([id_pais_ciudad], [id_pais], [id_ciudad]) VALUES (1, 126, 1)
INSERT [Relacion].[Pais_Ciudad] ([id_pais_ciudad], [id_pais], [id_ciudad]) VALUES (2, 302, 2)
INSERT [Relacion].[Pais_Ciudad] ([id_pais_ciudad], [id_pais], [id_ciudad]) VALUES (3, 302, 3)
SET IDENTITY_INSERT [Relacion].[Pais_Ciudad] OFF
GO
