USE [BLV]
GO
/****** Object:  Table [Sistema].[Division_Politica]    Script Date: 14/3/2023 11:16:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[Division_Politica](
	[id_division_politica] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_division_politica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Sistema].[Division_Politica] ON 

INSERT [Sistema].[Division_Politica] ([id_division_politica], [nombre]) VALUES (1, N'BIZKAIA')
INSERT [Sistema].[Division_Politica] ([id_division_politica], [nombre]) VALUES (2, N'ASTURIAS')
INSERT [Sistema].[Division_Politica] ([id_division_politica], [nombre]) VALUES (3, N'LAS PALMAS')
GO
SET IDENTITY_INSERT [Sistema].[Division_Politica] OFF
GO
