USE [BLV]
GO
/****** Object:  Table [Sistema].[Localidad]    Script Date: 14/4/2023 12:48:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[Localidad](
	[id_localidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](70) NULL,
	[prefijo_telefonico] [varchar](5) NULL,
	[codigo_postal] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Sistema].[Localidad] ON 

INSERT [Sistema].[Localidad] ([id_localidad], [nombre], [prefijo_telefonico], [codigo_postal]) VALUES (1, N'25 DE MAYO', NULL, NULL)
INSERT [Sistema].[Localidad] ([id_localidad], [nombre], [prefijo_telefonico], [codigo_postal]) VALUES (2, N'9 DE JULIO', NULL, NULL)
INSERT [Sistema].[Localidad] ([id_localidad], [nombre], [prefijo_telefonico], [codigo_postal]) VALUES (3, N'ADOLFO ALSINA', NULL, NULL)
GO
SET IDENTITY_INSERT [Sistema].[Localidad] OFF
GO
