USE [BLV]
GO
/****** Object:  Table [Sistema].[Acceso]    Script Date: 17/5/2023 9:15:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[Acceso](
	[id_acceso] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Sistema].[Acceso] ON 

INSERT [Sistema].[Acceso] ([id_acceso], [modulo]) VALUES (1, N'COMPRAS')
INSERT [Sistema].[Acceso] ([id_acceso], [modulo]) VALUES (2, N'DEPOSITO')
INSERT [Sistema].[Acceso] ([id_acceso], [modulo]) VALUES (3, N'LOGISTICA')
SET IDENTITY_INSERT [Sistema].[Acceso] OFF
GO
