USE [BLV]
GO
/****** Object:  Table [Sistema].[Ciudad]    Script Date: 2/3/2023 7:13:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[Ciudad](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Sistema].[Ciudad] ON 

INSERT [Sistema].[Ciudad] ([id_ciudad], [nombre]) VALUES (1, N'AACHEN')
INSERT [Sistema].[Ciudad] ([id_ciudad], [nombre]) VALUES (2, N'ALBUQUERQUE')
INSERT [Sistema].[Ciudad] ([id_ciudad], [nombre]) VALUES (3, N'ANCHORAGE')
GO
SET IDENTITY_INSERT [Sistema].[Ciudad] OFF
GO
