USE [BLV]
GO
/****** Object:  Table [Sistema].[Pais]    Script Date: 17/5/2023 1:14:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[Pais](
	[id_pais] [int] NOT NULL,
	[nombre] [varchar](60) NULL,
	[prefijo_telefonico] [varchar](1) NULL,
	[iso] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Sistema].[Pais] ([id_pais], [nombre], [prefijo_telefonico], [iso]) VALUES (101, N'ALBANIA', NULL, NULL)
INSERT [Sistema].[Pais] ([id_pais], [nombre], [prefijo_telefonico], [iso]) VALUES (102, N'AUSTRIA', NULL, NULL)
INSERT [Sistema].[Pais] ([id_pais], [nombre], [prefijo_telefonico], [iso]) VALUES (103, N'BELGICA', NULL, NULL)
GO
