USE [BLV]
GO
/****** Object:  Table [Venta].[Cliente]    Script Date: 14/3/2023 11:16:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Venta].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[cuit] [varchar](20) NOT NULL,
	[razon_social] [varchar](60) NULL,
	[domicilio] [varchar](60) NULL,
	[telefono] [varchar](20) NULL,
	[dni] [varchar](20) NULL,
	[mail] [varchar](20) NULL,
	[fecha_alta] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Venta].[Cliente] ON 

INSERT [Venta].[Cliente] ([id_cliente], [cuit], [razon_social], [domicilio], [telefono], [dni], [mail], [fecha_alta]) VALUES (1, N'20500089624', N'CACTUS COMIDAS PARA LLEVAR', N'CERRITO 333', NULL, N'50008962', NULL, CAST(N'2022-09-10T20:07:00' AS SmallDateTime))
INSERT [Venta].[Cliente] ([id_cliente], [cuit], [razon_social], [domicilio], [telefono], [dni], [mail], [fecha_alta]) VALUES (2, N'20500089627', N'WOLSKI  ZAJAZD', N'UL. FILTROWA 68', NULL, N'50008962', NULL, CAST(N'2022-09-10T20:07:00' AS SmallDateTime))
INSERT [Venta].[Cliente] ([id_cliente], [cuit], [razon_social], [domicilio], [telefono], [dni], [mail], [fecha_alta]) VALUES (3, N'20500090029', N'FOLIES GOURMANDES', N'184, CHAUSSÉE DE TOURNAI', NULL, N'50009002', NULL, CAST(N'2022-09-10T20:07:00' AS SmallDateTime))
SET IDENTITY_INSERT [Venta].[Cliente] OFF
GO
